body{
	background-color: white;
	font-family: Verdana, sans-serif;
}
header{
	background-color: rgb(3, 117, 81);
	padding: 15px;
	border-radius: 10px;
}
header.h2{
	color: white;
}
h2{
	font-size: 17px;
}
#footer{
	background-color: rgb(3, 117, 81);
	padding: 15px;
	font-family: Verdana, sans-serif;
	color: white;
	text-align: center;
	position: relative;
	border-radius: 10px;
}
